body {
	background-image: url("../images/nickhillier.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 72px;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
h2{
    color: green;
    padding: 20px;
    text-align: center;
}
.container-fluid {
    position: center;
    margin-left: 10em ;
    margin-left: 10em ;
    padding: 3em;
}


.form-group {
    /* text-align: center; */
    color: black;
    font-style: inherit;
}

input {
    margin: auto

}
.button {
position: center;
}
