body {
	background-image: url("../images/nickhillier.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ui.top.fixed.inverted.menu {
 /* margin-bottom: 20px;*/
  z-index: 2;
}

.ui.divider {
  height:34px;
}

h1 {
  font-size: 72px;
  color: aliceblue;
  padding-top: 20px;
  text-align: center;
}

h2 {
  font-size: 16px;
  color: silver;
  /*padding-bottom: 10px;*/
  text-align: left;
  padding-top: -20px;
  padding-bottom: 10px;
}

.select.input {
  margin: auto
}

#restaurant-list .item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.ui.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: initial;
 /*margin-top: 40px;*/
}

.ui.vertical.aligned.segment {
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  height: 75px;
  /*margin: 20px;*/
}

/*.ui.fluid.icon.input.aligned.field {
  margin-top: 20px;
}*/

.ui.aligned.segment {
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  margin: 10px;
  padding: 5px;
}

.ui.field {
  padding: 5px;
}

.ui.massive.button {
  width: 172px;
  /*font-size: 23px;*/
}

.ui.massive.black.button {
  position: absolute;
  bottom:20px;
  margin-left:30%;
  margin-right:30%;
  z-index: 1;
}

#restaurant-list, #sidebar {
  top:35.32px;
}

#group-member-list {
  top:35.32px;
}

.mapdiv {
  position: inherit;
  height:100%;
  width:100%;
  top: 36px;
  bottom: 0;
  z-index: -1;
}

.map {
  height: 100%;
  width:100%;
}

#pac-input {
  bottom: 100px;
  position: absolute;
  margin-left:30%;
  height: 37px;
  width: 171px;;
  z-index: 1;
}

.roundrect .up {
  border-radius: 2rem 2rem 0 0;
}

.roundrect .down {
  border-radius: 0 0 2rem 2rem;
}

.roundrect .count {
  border-radius: .5rem .5rem;
}

.vote {
  font-family: "Noto Sans";
  position: relative;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: .5;
  transition: 0.3s;
  cursor: pointer;
}

.increment.up {
  background:blue;
  height: 50%;
  margin-bottom: 0.25rem;
}

.increment.down {
  background:black;
  height: 50%;
}

.increment:hover {
  opacity: 1;
}

.count {
  position: absolute;
  top: 0;
  border-radius: 0.1rem;
  margin-top: 30px; 
  margin-left: 14px; 
  background: #F6F3E4;
  width: 2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1px; 
  text-align: center;
  box-shadow: 0 0 0 0.5rem #F6F3E4;
  pointer-events: none;
}

.count.upvoted {
  color: #4BC35F;
}

.count.downvoted {
  color: #C15044;
}

.bump {
  -webkit-animation: bump 200ms;
          animation: bump 200ms;
}

@-webkit-keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

* {
  box-sizing: border-box;
}