body {
	background-image: url("../images/nickhillier.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 72px;
    color: aliceblue;
    padding-top: 20px;
    text-align: center;
}

h2 {
    font-size: 16px;
    color: silver;
    /*padding-bottom: 10px;*/
    text-align: left;
    padding-top: -20px;
    padding-bottom: 10px;
}

.field {
    text-align: center;
    padding: 3px;
}
;
.select input {
    margin: auto
}

.button {
    position: absolute;
    bottom:20px;
    left: 42%;
    width: 172px;
}

.menu {
    background-color: black;
    color: aliceblue;
}

#restaurant-list {
    top:35.32px;
}

#group-member-list {
    top:35.32px;
}

.mapdiv {
    position: inherit;
    height:100%;
    width:100%;
    top: 33px;
    bottom: 0;
    z-index: -1;
}

.map {
    height: 100%;
    width:100%;
}

#pac-input {
    bottom: 100px;
    position: absolute;
    left: 43.3%;
    height: 37px;
    widows: 202px;
    z-index: 1;
}