body {
	background-image: url("../images/nickhillier.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 72px;
    color: aliceblue;
    padding-top: 20px;
    text-align: center;
}

h2 {
    font-size: 56px;
    color: red;
    padding-bottom: 10px;
    text-align: center;
}

.container {
    position: center;
    margin-left: auto ;
    margin-right: auto ;
    padding: 3em;
}

.field {
    text-align: center;
    padding: 3px;
}

.dropdown {
    text-align: center;
    padding: 3px;
}
.select
input {
    margin: auto

}
.button {
position: center;
}
